<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                    <ng-form name="form" data-toggle="validator">
                        <!-- <h3>TODO: Implement Your Features</h3> -->
                        <div class="row">
                       <div class="col-md-3"><label for="title">Enter Title</label></div>
                       <div class="col-md-8"><input type="text" id="title" class="form-control" ng-model="vm.taskTitle" disabled></div>
                       </div>
                       <br/>
                       <div class="row">
                       <div class="col-md-3"><label for="projectName">Project Name</label></div>
                       <div class="col-md-8"><input type="text" id="projectName" ng-model="vm.projectName" class="form-control" disabled></div>
                       </div>
                       <br/>
                       <div class="row">
                       <div class="col-md-3"><label for="description">Description</label></div>
                       <div class="col-md-8"><textarea id="description" ng-model="vm.taskDesc" class="form-control"  rows="3" disabled></textarea></div>
                       </div>
                       <br/>

                       <div class="row">
                       <div class="col-md-3"><label for="time">Time Spent</label></div>
                       

                       <div class="col-md-1" ng-show="vm.taskHrs">Worked Totally:{{vm.totalHrs}}hrs</div>

                       <div class="col-md-6">
                       
                        <table >
                                
                                <tbody>
                                    <tr ng-repeat="view in vm.viewTime track by $index">
                                        <td class="col-md-1">{{view.a}}</td>
                                        <td>{{view.b}}</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                       </div>
                       <br/>

                       <div class="row">
                       <div class="col-md-3"><label for="status">Status</label></div>
                       <div class="col-md-3">{{vm.taskStatus}}</div>
                       </div>
                       <br/>
                       <div class="row">
                       <div class="col-md-3"> </div>
                       <div class="col-md-8"><button type="button"  id="button" class="btn btn-success" ng-click="vm.back()">Back</button></div>
                       </div>
                       <div class="help-block with-errors"></div>
                       </ng-form>

                    </div>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>